@charset "UTF-8";
/* global */
.content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.techs-list li {
  font-size: 30px;
  padding-left: 10px;
}

.techs-list li::marker {
  font-size: 40px;
}

.techs-list li:first-child::marker {
  content: '⭐';
}

.techs-list li:nth-child(2)::marker {
  content: '🌟';
}

.techs-list li:last-child::marker {
  content: '🧐';
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F6F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* box sahdows */
.bxs-header {
  -webkit-box-shadow: 1px 2px 3px grey;
          box-shadow: 1px 2px 3px grey;
}

.bxs-calculator {
  -webkit-box-shadow: 6px 6px 6px grey;
          box-shadow: 6px 6px 6px grey;
}

/* colors */
.cl-primary {
  color: #2A0944;
}

.cl-second {
  color: #FEC260;
}

.cl-third {
  color: #8F1858;
}

/* background colors */
.bkg-primary {
  background-color: #2A0944;
}

.bkg-second {
  background-color: #FEC260;
}

.bkg-third {
  background-color: #8F1858;
}

/* width */
.w-60 {
  width: 60%;
}

.w-40 {
  width: 40%;
}

.w-85 {
  width: 85%;
}

/* height */
.h-34px {
  height: 34px;
}

/* fonts */
/* font sizes */
.fs-10 {
  font-size: 10px;
}

.fs-12-h6 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-12-h5 {
  font-size: calc(12px * 2);
}

.fs-12-h4 {
  font-size: calc(12px * 3);
}

.fs-12-h3 {
  font-size: calc(12px * 4);
}

.fs-12-h2 {
  font-size: calc(12px * 5);
}

.fs-12-h1 {
  font-size: calc(12px * 6);
}

/* font weight */
.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

/* tags */
.big-tag {
  height: 37px;
  width: 222px;
  border-radius: 50px;
}

.small-tag {
  height: 16px;
  width: 92px;
  border-radius: 50px;
}

/* header style */
.header {
  height: 62px;
}

.header .header-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-content .title {
  font-size: 20px;
  color: #FEC260;
  font-weight: 800;
}

.header .header-content .middleLogo {
  width: 27px;
  height: 27px;
  margin-right: 7px;
}

/* description style */
.description {
  height: calc(100vh - 62px);
}

/* calculator style */
.calculator {
  width: 352px;
  height: 459px;
  border-radius: 12px;
  border: solid 2px #FEC260;
}

.calculator .calculator-header {
  border-bottom: solid 1.8px #FEC260;
}

.calculator .screen-section {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 132px;
  width: 100%;
}

.calculator .screen-section .screen {
  height: 110px;
  width: 323px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #8F1858), color-stop(70%, #B10060));
  background: linear-gradient(#8F1858 30%, #B10060 70%);
  border: solid 1.6px #FEC260;
  border-radius: 5px;
}

.keypad {
  width: 323px;
}

.keypad .complex-ops {
  width: 224px;
  height: 76px;
}

.keypad-button {
  width: 66px;
  height: 33px;
  border-radius: 15px;
}

.keypad-button .key {
  width: inherit;
  height: 27px;
  border-radius: inherit;
  border: none;
  outline: none;
}
/*# sourceMappingURL=style.css.map */