/* global */
.content{
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin-bottom: 0;
}
body {
  margin: 0;
  font-family: poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* colors */
.cl-primary{
  color: #2A0944;
}
.cl-second{
  color: #FEC260;
}
.cl-third{
  color: #8F1858;
}

/* background colors */
.bkg-primary{
  background-color: #2A0944;
}
.bkg-secondary{
  background-color: #FEC260;
}
.bkg-third{
  background-color: #8F1858;
}
/* fonts */
/* font sizes */


/* header style */
.header{
  height: 40px;
}
.header-content{
  height: 100%;
  display: flex;
  align-items: center;
}
.title{
  font-size: 20px;
  color: #FEC260;
  font-weight: 800;
}
.middleLogo{
  width: 27px;
  height: 27px;
  margin-right: 7px;
}
